.td{
	width: 60px;
    float: left;
    /* padding: 10px 0px; */
    border-left: 1px solid #000;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.td:last-child{
	border-right: 1px solid #000; 
}
.content{
	white-space: normal;
	width: 2.25rem;
}
.pref{
	height: 100%;
	float: left;

}
.feizhi{
	width: 0.5rem;
	height: 0.1rem;
	float: left;
	margin-top: 0.05rem;
}
.ttd{
	width: 75px;
	float: left;
	/* padding: 10px 0px; */
	border-left: 1px solid #000; 
	text-align: center;
	height: 50px;
    line-height: 50px;
}
.ttd:last-child{
	border-right: 1px solid #000; 
}
.tr {
	overflow: hidden;
	border-bottom: 1px solid #000;
	width: 367px;
	margin: 0 auto;
}
.ttr {
	overflow: hidden;
	border-bottom: 1px solid #000;
	width: 457px;
	margin: 0 auto;
}
.tr:first-of-type {
	border-top: 1px solid #000;
}
.ttr:first-of-type {
	border-top: 1px solid #000;
}
.white {
	white-space: normal;
	text-indent: 2em;
}
.tab {
	width: 100%;
	overflow: auto;
}
.mytable { 
	border-collapse:collapse; 
	border:solid 1px Black; 
	text-align: center;
}
.mytable td {   
	border: solid 1px Black;
    padding: 2.5px;
    min-width: 25px;
    height: 25px;
}
.mytablewrap {
	width: 100%;
	overflow: auto;
}
.mytable .labl{
	border-bottom: 0;
}
.mytable .laba{
	border-top: 0;
	border-bottom: 0;
}
.mytable .labb{
	border-top: 0;
}
.fll{
	float: left;
}





.tonguetab {
	width: 6.5rem;
}
.tonguetr{
	overflow: hidden;
}
.tonguetr div {
	box-sizing: border-box;
	white-space: normal;
}
.tonguetr > div{
	float: left;
	border: 1px solid #000;
	text-align: center;
}
.se{
	width: 0.53rem;
	height: 0.5rem;
	line-height: 0.5rem;
	border-left: none;
}
.tezheng {
	width: 110px;
	height: 50px;
	float: left;
}

.tezhengs {
	width: 110px;
	float: left;
}

.tezheng > div, .tezhengs > div{
	float: left;
	line-height: 26px;
	text-align: center;
}
.zheng{
	width: 100%;
	border-bottom: 1px solid #000;
}
.bian{
	width: 49%;
}

.bians{
	width: 49%;
	float: left;
}

.bians:nth-of-type(2){
	border-left: 1px solid #000;
}

.bian:nth-of-type(2){
	border-right: 1px solid #000;
}
.coatQuanSheCse{
	width: 0.665rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
.coatQuanSheC{
	width: 0.66rem;
	height: 0.25rem;
    line-height: 0.25rem;
}
.shetai {
	width: 160px;
	height: 25px;
	border-left:none !important; 
	float: left;
}
.shetai > div{
	float: left;
	line-height: 24px;
	text-align: center;
}
.zhixing{
	width: 100%;
	/* border-bottom: 1px solid #000; */
}
.item{
	width: 25%;
	border-right: 1px solid #000;
}

.bigitem{
	float: left;
	width: 1rem;
	height: 0.25rem;
    line-height: 0.25rem;
	overflow: scroll;
}
.mediumitem{
	float: left;
	width: 55px;
	height: 0.25rem;
    line-height: 0.25rem;
}
.smallitem{
	float: left;
	width: 40px;
	height: 0.25rem;
    line-height: 0.25rem;
}
.itemfather .am-list-brief {
            white-space: normal; 
          }

.imgbrief{
	/*background: red;*/
	width: 100%;
}
.imgbrief img{
	width: 100%;
	height: 100%;
	display: block;
	margin-top: 20px; 
}




