.loginButton {
  width: 3.6rem;
  height: 0.46rem;
  background: rgb(170, 73, 41);
  color: #fff;
  border: none;
  border-radius: 0.05rem;
  font-size: 16px !important;
}
.user_p{
  line-height: 25px;
}

.indexbottom{
  // position: fixed;
  // bottom: 5%;
  position: fixed;
  bottom: 5%;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  // height: 40px;
  font-size: 12px;
  width: 100%;
}

.indexbottom a{
   color: #aa4920;
}

.indexbody{
    position: absolute;
    height: 400px;
    top: 20%;
    width: 100%;
}