.questionOptions {
  .questionOption {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.jw_q {
    margin-Top: 10px;
}
.login_c{
  color:#aa4929;
}
.questionOption {
  position: relative;
  display: inline-block;
  height: 48px;
  line-height: 0.3rem;
  padding: 6px 10px;
  font-size: 0.14rem;
  text-align: left;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  white-space: normal;
  height: inherit;

  input {
    position: absolute;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.questionOption1 {
  position: relative;
  display: inline-block;
  height: 48px;
  line-height: 0.3rem;
  padding: 6px 10px;
  font-size: 0.14rem;
  text-align: left;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  white-space: normal;
  height: inherit;

  input {
    position: absolute;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.questionOptionNormal {
  composes: questionOption;
  color: #888;
  border-color: #ddd;
  background-color: #fff;
}

.questionOptionActive {
  composes: questionOption;
  color: #a94929;
  border-color: #c8a063;
  background-color: #f8debb;
}

.questionOptionDisable {
  composes: questionOption;
  color: #888;
  border-color: #ddd;
  background-color: #ddd;
}

:global {
  .scale-pre, .scale-chd {
    .am-flexbox .am-flexbox-item {
      margin-left: 0px;
    }
  }
}