:global {
  .record-card {
    min-height: auto !important;
    padding: 0 20px;

    .am-card-header {
      font-size: 32px;
    }

    .am-card-header-extra {
      font-size: 28px;
      color: #3e3a39;
    }
    .am-card-footer {
      padding: 14px 32px 20px 32px;
      border-top: 1px solid #ddd;
      color: #727171;

      &-content {
        & img {
          margin-right: 10px;
        }
      }
    }

    small {
      margin-left: 20px;
      font-size: 24px;
      color: #727171;
    }
  }
}

.qrcode {
  display: block;
  width: 640px;
  height: 640px;
  margin: auto;
}

.code {
  font-size: 46px;
  color: #3e3a39;
}
.icon1{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-old.svg) no-repeat center center;
}
.icon2{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-physique.svg) no-repeat center center;
}
.icon3{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-children.svg) no-repeat center center;
}
.icon4{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-pregnancy.svg) no-repeat center center;
}
.icon5{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-hypertension.svg) no-repeat center center;
}
.icon6{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-psychology.svg) no-repeat center center;
}
.icon7{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-scientific.svg) no-repeat center center;
}
.icon8{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-diabetes.svg) no-repeat center center;
}
.icon9{
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 36px;
  background: url(../../assets/icons/icon-sheet-postpartum.svg) no-repeat center center;
}