:global {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 28px !important;
    font-family: "Microsoft YaHei", Helvetica, sans-serif;
    background-color: #efefef;
    color: #3e3a39;
  }

  a {
    color: #aa4929;
    // color: #34495e;
    text-decoration: none;
  }

  button {
    padding: 0;
    border: none;
    background: none;
    color: inherit;
  }

  img {
    vertical-align: bottom;
    max-width: 100%;
  }

  ul, ol, dl {
    padding: 0;
    list-style-type: none;
  }

  // .am-modal-mask {
  //   background-color: rgba(0, 0, 0, .35) !important;
  // }

  #root {
    .am-badge-text {
      min-width: 10px;
      background-color: #ff9100;
    }

    .am-progress-bar {
      border: none;
      height: 20px !important;
      background-color: #aa4929;
    }

    .am-tab-bar-bar .am-tab-bar-tab-icon {
      justify-content: center;
    }

    .am-tabs-ink-bar {
      height: 6px;
      background-color: #ff9100;
    }

    .am-tabs-bar .am-tabs-tab {
      height: 88px;
      line-height: 88px;

      &-active {
        color: #34495e;
      }
    }
    .am-card {
      border: none;
      &-body {
        color: inherit;
      }

      &-header-content {
        overflow: hidden;
      }

      &-header,
      &-footer {
        &-content {
          & img {
            width: 30px;
          }
        }
      }
    }

    .am-wingblank.am-wingblank-md {
      margin-left: 20px;
      margin-right: 20px;
    }

    .am-whitespace.am-whitespace-md {
      height: 20px;
    }

    .am-menu-selected {
      background-color: #fff;

      .am-list-content {
        color: #7a250e;
      }
    }

    .am-textarea-label {
      font-size: 28px;
    }

    .am-textarea-control textarea {
      &, &::-webkit-input-placeholder {
        font-size: 28px;
      }
    }

    .am-checkbox-agree .am-checkbox-agree-label {
      width: 100%;
      a {
        color: #aa4929;
      }
    }

    .am-list {
      &-item {
        .am-input-label,
        .am-input-control input,
        .am-input-control input::-webkit-input-placeholder {
          font-size: 28px;
        }

        .am-input-extra {
          max-height: inherit;
        }

        .am-list-line-wrap {
          .am-list-content {
            overflow: initial;
          }

          .am-list-brief {
            /*white-space: normal;*/
            white-space: nowrap; /*<Michael>*/
          }
        }
      }

      &-content {
        font-size: 26px;
        color: #3e3a39;
        padding-top: 28px;
        padding-bottom: 30px;

        .am-flexbox.am-flexbox-align-middle {
          font-size: 30px;
          // color: #aa4929;
        }
      }

      &-brief {
        font-size: 26px;
        color: #72717a;
        margin-top: 20px;
      }

      &-body {
        padding: 1px;
        border-radius: 5px;
        border-top: none;
        &::after {
          border-bottom: none;
        }
      }

      &-extra {
        font-size: 28px;
      }
    }

    .am-tag {
      padding: 0 30px;
      margin-right: 20px;
      margin-bottom: 20px;
      &-active {
        color: #a94929;
        background: #f8debb;
        border-color: #c8a063;
      }

      &-disabled {
        background: none;
      }

      &-closable {
        margin: 18px;
        background: none;
      }
    }

    .am-button {
      border-radius: 5px;
      color: #aa4929;

      &-primary {
        color: #fff;
        border-color: #aa4929;
        background-color: #aa4929;
      }
    }
  }
}
