:global {
  .record-card {
    min-height: auto !important;
    padding: 0 20px;

    .am-card-header {
      font-size: 32px;
    }

    .am-card-header-extra {
      font-size: 28px;
      color: #3e3a39;
    }

    .am-card-footer {
      padding: 14px 32px 20px 32px;
      border-top: 1px solid #ddd;
      color: #727171;

      &-content {
        & img {
          margin-right: 10px;
        }
      }
    }

    small {
      margin-left: 20px;
      font-size: 24px;
      color: #727171;
    }
  }
}

.qrcode {
  display: block;
  width: 640px;
  height: 640px;
  margin: auto;
}

.code {
  font-size: 46px;
  color: #3e3a39;
}
