.questionOptions {
  .questionOption {
    margin-right: 0.08rem;
    margin-bottom: 0.08rem;
  }
}

.cs1467A46B, .csC3F9E055, .csCA098CEB{
  font-size: 14px !important;
}

.questionOption {
  position: relative;
  display: inline-block;
  height: 0.48rem;
  line-height: 0.4rem;
  padding: 0rem 0.1rem;
  /*font-size: 0.15rem; */
  /* text-align: left; */
  border-radius: 0.03rem;
  border-width: 0.01rem;
  border-style: solid;
  height: inherit;
  white-space: normal;

  input {
    position: absolute;
    left: 0;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.questionOptionNormal {
  composes: questionOption;
  color: #888;
  border-color: #ddd;
  background-color: #fff;
}

.questionOptionActive {
  composes: questionOption;
  color: #a94929;
  border-color: #c8a063;
  background-color: #f8debb;
}
.amlistcontent{
  padding-top: 0.15rem;
  padding-bottom: 0.2rem;
}

.questionOptionDisable {
  composes: questionOption;
  color: #888;
  border-color: #ddd;
  background-color: #ddd;
}

:global {
  #root{
    background: #efefef;
 }
 #root{
   .am-button-primary{
       background-color: #aa4929;
       border: none;
       z-index: 1000;
       color: #fff;
   }
   .am-list-item{
     z-index: 1000;
   }
   .am-list-content, .am-input-label, .am-list-extra, .am-list-item .am-input-control input{
     font-size: 13px;
   }
   .ant-progress-text{
      position: relative;
      right: 36px;
      bottom: 19px;
   }
   .am-picker-popup, .am-picker-popup-wrap, .am-picker-popup-mask{
       position: absolute !important ;
   }
   .am-button-primary.am-button-disabled{
      opacity: 1 !important;
   }
   .am-input-control{
     font-size: 15.5px;
   }
   .am-list-line::after{
     content: '';
     position: absolute;
     background-color: #ddd;
     display: block;
     z-index: 1;
     top: auto;
     right: auto;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 1PX;
     -webkit-transform-origin: 50% 100%;
         -ms-transform-origin: 50% 100%;
             transform-origin: 50% 100%;
     -webkit-transform: scaleY(0.5);
         -ms-transform: scaleY(0.5);
             transform: scaleY(0.5);
   }
   .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
      width: 35%!important;
   }
   
 }
  .scale-pre, .scale-chd {
    .am-flexbox .am-flexbox-item {
      margin-left: 0px;
    }
  }
  .am-card-footer-content img, .am-card-header-content img{
      width: 0.15rem;
      margin-right: 0.05rem;
      vertical-align: bottom;
  }
  .am-list-item .am-list-line .am-list-brief{
    font-size: 13px;
  }
  .am-card-footer{
      font-size: .14rem;
  }
  .record-card {
    min-height: auto!important;
    padding: 0 .1rem;
  }

  .record-card .am-card-header {
      font-size: .16rem;
  }

  .record-card .am-card-header-extra {
      font-size: .14rem;
      color: #3e3a39;
  }
  .record-card small {
      margin-left: .1rem;
      // font-size: .24rem;
      color: #727171;
  }
  .record-card .am-card-footer {
      padding: .07rem .16rem .05rem;
      border-top: .01rem solid #ddd;
      color: #727171;
  }
  .record-card .qrcode{
      display: block;
      height: 3rem;
      margin: auto;
  }
  .record-card .code{
      font-size: 0.2rem;
      color: #3e3a39;
  }
  .record-card span{
     font-size: 0.137rem;
  }
  
  .am-drawer{
      top: 95px;
      left: -1px;
  }

  .am-button-small {
    color: #aa4929;
    border-radius:5px;
    border-color: #fff !important;
    background-color: #fff;
}
  .am-button-primary.am-button-active{
    background-color: #fff;
    color: #aa4929;
  }
  .am-button-primary::before{
    border: 1px solid #ddd !important;
  }
  .am-list-item .am-input-extra{
    max-height: none;
  }

  .am-button-small{
    font-size: 12px;
  }
  
  .am-drawer.am-drawer-left .am-drawer-draghandle, .am-drawer.am-drawer-right .am-drawer-draghandle{
     width: 0px;
  }
  .am-list-body{
    z-index: 0;
  }
  .am-drawer-open.am-drawer.am-drawer-left .am-drawer-sidebar{
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .am-textarea-control textarea, #root .am-textarea-control textarea::-webkit-input-placeholder{
      font-size: .14rem !important;
  }
  .am-progress-bar {
      border: none!important;
      height: .1rem!important;
      background-color: #aa4929;
  }
}